<main class="relative rounded-lg shadow default-container-light h-[600px] overflow-y-auto">
  <div
    class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
  >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Changelog
    </h3>
    <app-button-operac colorBtn="red" optionBtn="close" (click)="closeDialog()">
    </app-button-operac>
  </div>
  <div class="p-4 md:p-5">
    <ol
      class="relative border-s border-gray-400 dark:border-gray-600 ms-3.5 mb-4 md:mb-5"
    >
      <li class="mb-10 ms-8" *ngFor="let item of changeLog | orderBy : 'id' : 'desc'">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-gray-400 rounded-full -start-3.5 ring-8 ring-gray-200 dark:ring-gray-700 dark:bg-gray-600"
        >
          <fa-icon [icon]="faCalendar" size="xs" class="text-green"></fa-icon>
        </span>
        <h3
          class="flex items-start mb-1 text-lg font-semibold text-gray-900 dark:text-white"
        >
          {{ item.title + " v" + item.version }}
          <span
            *ngIf="item.id === lastIdChangeLog"
            class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
            >Latest</span
          >
        </h3>
        <time
          class="block mb-3 text-sm font-normal leading-none text-gray-500 dark:text-gray-400"
          >{{ "Released on " + (item.date | date : "mediumDate") }}</time
        >
        <div>
          <ul
            *ngFor="let feature of item.features"
            class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400"
          >
            <li class="flex items-center">
              <!-- <svg
                class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                />
              </svg> -->
              {{ feature }}
            </li>
          </ul>
        </div>
      </li>
    </ol>
    <article class="flex flex-row justify-center space-x-6">
      <a href="https://t.me/luis122448" target="_blank" class="font-bold">
        <app-button-standard
          [optionBtn]="'bug'"
          [typeBtn]="'button'"
          [colorBtn]="'sky'"
          class="pb-2"
          >Bug!</app-button-standard
        ></a
      >
      <a
        href="https://steamcommunity.com/tradeoffer/new/?partner=257848991&token=3uyXNTfC"
        target="_blank"
        class="font-bold"
      >
        <app-button-standard
          [optionBtn]="'steam'"
          [typeBtn]="'button'"
          [colorBtn]="'sky'"
          class="pb-2"
          >Donate!</app-button-standard
        ></a
      >
    </article>
  </div>
</main>
