<main
  class="h-full px-4 w-auto flex flex-col sm:grid sm:grid-cols-3 sm:gap-x-6 bg-slate-100 dark:bg-slate-900 dark:text-gray-400 m-auto lg:px-6 xl:px-8"
>
  <section class="h-full sm:col-span-1 flex flex-col justify-start">
    <article
      class="h-auto px-4 py-2 w-80 sm:w-auto sm:h-32 mt-4 sm:mt-8 mx-auto"
    >
      <form action="#" [formGroup]="formPlayer" class="flex flex-col space-y-4">
        <div class="flex flex-col space-y-2">
          <div class="grid grid-cols-3 items-center">
            <label for="name" class="text-inline">Name</label>
            <input
              name="name"
              type="text"
              class="input-default col-span-2"
              placeholder="Name"
              formControlName="name"
              [class.input-invalid]="isInputInvalid('name')"
            />
          </div>
          <div class="grid grid-cols-3 items-center">
            <label for="mmr" class="text-inline">MMR</label>
            <input
              name="mmr"
              type="text"
              class="input-default col-span-2"
              placeholder="MMR"
              formControlName="mmr"
              [class.input-invalid]="isInputInvalid('mmr')"
            />
          </div>
        </div>
        <div class="flex flex-col justify-between items-end space-y-2">
          <app-button-standard
            [disabledBtn]="formPlayer.invalid"
            optionBtn="add"
            colorBtn="sky"
            (click)="addPlayer()"
            >Add Player</app-button-standard
          >
        </div>
      </form>
    </article>
    <article
      class="h-[590px] sm:h-auto space-y-2 items-center py-2 max-w-[320px] mx-auto"
    >
      <div class="flex flex-row justify-between">
        <h2 class="text-inline-md font-bold">No asignado</h2>
        <h2 class="text-inline-md font-bold">
          <span
            class="bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
            *ngIf="countPlayersNotInTeam === 10"
            >Full!</span
          >
          <span
            [ngClass]="{
              'text-sky-800 dark:text-sky-700': countPlayersNotInTeam === 10,
              'text-red-800 dark:text-red-700': countPlayersNotInTeam < 10
            }"
            >{{ countPlayersNotInTeam }}</span
          >
          / 10
        </h2>
      </div>
      <div
        cdkDropList
        #notAsig="cdkDropList"
        [cdkDropListData]="getTeam(0)"
        class="example-list-explain"
        (cdkDropListDropped)="drop($event)"
      >
        <div *ngFor="let item of getTeam(0)" cdkDrag>
          <app-item-player
            [player]="item"
            (dropped)="deletePlayer($event)"
            [isEdit]="true"
          ></app-item-player>
        </div>
      </div>
      <div class="grid grid-cols-5 items-center">
        <label for="total0" class="text-inline-sm font-bold col-span-3"
          >Total</label
        >
        <span name="total0" class="span-input-disabled col-span-2 text-right">{{
          total0
        }}</span>
      </div>
    </article>
  </section>
  <section
    class="h-full sm:col-span-2 flex flex-col pt-24 sm:pt-0 items-center"
  >
    <article
      class="flex flex-row justify-around items-center h-16 w-72 sm:w-full"
    >
      <app-button-standard
        [disabledBtn]="formPlayer.invalid"
        optionBtn="shuffle"
        colorBtn="sky"
        [responsiveBtn]="true"
        (click)="onShuffle()"
        >Shuffle</app-button-standard
      ><app-button-standard
        [disabledBtn]="formPlayer.invalid"
        optionBtn="refresh"
        colorBtn="sky"
        [responsiveBtn]="true"
        (click)="onReset()"
        >Reset</app-button-standard
      >
      <app-button-standard
        [disabledBtn]="formPlayer.invalid"
        optionBtn="delete"
        colorBtn="red"
        [responsiveBtn]="true"
        (click)="onDeleteAll()"
        >Delete All
      </app-button-standard>
      <div class="button-container">
        <app-button-standard
          [cdkMenuTriggerFor]="capture"
          [disabledBtn]="formPlayer.invalid"
          optionBtn="capture"
          colorBtn="green"
          [responsiveBtn]="true"
          (click)="toggleMenu()"
          >Capture
        </app-button-standard>
        <ng-template #capture>
          <div class="bg-green-700 text-white flex flex-col items-start rounded" *ngIf="menuOpen" cdkMenu>
            <app-button-standard
              cdkMenuItem
              optionBtn="download"
              colorBtn="green"
              alignBtn="left"
              [responsiveBtn]="true"
              (click)="onCapture('download')"
              >Download</app-button-standard
            >
            <app-button-standard
              cdkMenuItem
              optionBtn="copy"
              colorBtn="green"
              alignBtn="left"
              [responsiveBtn]="true"
              (click)="onCapture('copy')"
              >Copy Img.</app-button-standard
            >
          </div>
        </ng-template>
      </div>
    </article>
    <article
      #captureArea
      class="bg-slate-100 dark:bg-slate-900 dark:text-gray-400 grid grid-cols-2 gap-x-2 sm:gap-x-6 lg:gap-x-8 xl:gap-x-10 max-w-[720px] mx-auto sm:px-2 lg:px-4 py-2"
    >
      <div class="space-y-2 items-center py-2">
        <h2 class="text-inline-md font-semibold">
          Team N°1
          <span
            *ngIf="diff < 0"
            class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
            >First Win!</span
          >
        </h2>
        <div
          cdkDropList
          #Team1="cdkDropList"
          [cdkDropListData]="getTeam(1)"
          [cdkDropListConnectedTo]="[Team2]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngFor="let item of getTeam(1)" cdkDrag>
            <app-item-player
              [player]="item"
              (dropped)="deletePlayer($event)"
            ></app-item-player>
          </div>
        </div>
        <div class="grid grid-cols-5 items-center">
          <label for="total1" class="text-inline-sm font-bold col-span-3"
            >Total</label
          >
          <span
            name="total1"
            class="span-input-disabled col-span-2 text-right"
            >{{ total1 }}</span
          >
        </div>
        <div class="grid grid-cols-5 items-center" *ngIf="diff >= 0">
          <label for="diff" class="text-inline-sm font-bold col-span-3"
            >Difference</label
          >
          <span name="diff" class="span-input-disabled col-span-2 text-right">{{
            difference
          }}</span>
        </div>
      </div>
      <div class="space-y-2 items-center py-2">
        <h2 class="text-inline-md font-semibold">
          Team N°2
          <span
            *ngIf="diff >= 0"
            class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
            >First Win!</span
          >
        </h2>
        <div
          cdkDropList
          #Team2="cdkDropList"
          [cdkDropListData]="getTeam(2)"
          [cdkDropListConnectedTo]="[Team1]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngFor="let item of getTeam(2)" cdkDrag>
            <app-item-player
              [player]="item"
              (dropped)="deletePlayer($event)"
            ></app-item-player>
          </div>
        </div>
        <div class="grid grid-cols-5 items-center">
          <label for="total2" class="text-inline-sm font-bold col-span-3"
            >Total</label
          >
          <span
            name="total2"
            class="span-input-disabled col-span-2 text-right"
            >{{ total2 }}</span
          >
        </div>
        <div class="grid grid-cols-5 items-center" *ngIf="diff < 0">
          <label for="diff" class="text-inline-sm font-bold col-span-3"
            >Difference</label
          >
          <span name="diff" class="span-input-disabled col-span-2 text-right">{{
            difference
          }}</span>
        </div>
      </div>
    </article>
    <article
      class="h-auto my-auto flex flex-col justify-around pb-10 sm:pb-auto"
    >
      <app-metrics-dashboard></app-metrics-dashboard>
    </article>
  </section>
</main>
