<section class="header-default">
  <nav class="grid h-full w-full grid-cols-2 border-gray-200">
    <article class="col-span-1 my-auto ml-4">
      <a href="#" class="flex items-center">
        <img
          src="../../../../../../assets/image/icon/dota-logo.png"
          class="mr-3 h-10 w-8 rounded-md"
          alt="Dota 2 Logo"
        />
        <span
          class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"
          >Dota Shuffle MMR</span
        >
      </a>
    </article>
    <article
      class="space-x-4 col-span-1 my-auto flex w-full items-center justify-end px-4"
    >
      <!-- <a
        [routerLink]="['/billing/dashboard']"
        class="header-siderbar"
        routerLinkActive="header-siderbar-active"
      >
        Tutorial
      </a>
      <a
        [routerLink]="['/configuration/credits']"
        class="header-siderbar"
        routerLinkActive="header-siderbar-active"
      >
        Contact
      </a> -->
      <article class="col-span-1 my-auto">
        <a
          href="https://discord.gg/loz-zzz-afk-869348065063088149"
          class="flex items-center"
          target="_blank"
        >
          <img
            src="../../../../../../assets/image/icon/discord-icon.png"
            class="mr-3 h-8 w-8 rounded-md"
            alt="Discord Logo"
          />
        </a>
      </article>
      <app-theme-switcher></app-theme-switcher>
    </article>
  </nav>
</section>
