<section class="header-default">
  <nav class="grid h-full w-full grid-cols-2 border-gray-200">
    <article class="col-span-1 my-auto ml-4">
      <a href="#" class="flex items-center">
        <img
          src="../../../assets/image/icon/dota-icon.png"
          class="mr-3 h-10 w-10 rounded-md"
          alt="Dota 2 Icon"
        />
        <h1
          class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"
          >Dota Shuffle MMR</h1
        >
      </a>
    </article>
    <article
      class="space-x-4 col-span-1 my-auto flex w-full items-center justify-end px-4"
    >
      <div class="flex flex-row space-x-6">
        <app-button-standard
          [optionBtn]="'medal'"
          [typeBtn]="'submit'"
          [colorBtn]="'blue'"
          (click)="openDialogCredits()"
        >
          Credits
        </app-button-standard>
        <app-button-standard
          [optionBtn]="'discord'"
          [typeBtn]="'submit'"
          [colorBtn]="'blue'"
          (click)="openDialogDicord()"
        >
          Discord
        </app-button-standard>
      </div>
      <app-theme-switcher></app-theme-switcher>
    </article>
  </nav>
</section>
