<main class="changeBackground animated-bg h-full w-full flex justify-center overflow-hidden">
  <div class="main-container">
    <app-header class="h-[50px]"></app-header>
    <div class="body-container">
      <app-basic-dota-shuffle></app-basic-dota-shuffle>
    </div>
    <app-footer class="h-[60px]"></app-footer>
  </div>
  <!-- <ngx-spinner
    bdColor="rgba(0,0,0,0.5)"
    size="large"
    color="#ffffff"
    type="ball-spin-clockwise"
    [fullScreen]="true">
    <p style="color: white">Loading...</p>
  </ngx-spinner> -->
</main>
