<main class="h-auto px-4 py-2 w-80 sm:w-auto sm:h-32 mt-4 sm:mt-8 mx-auto">
  <form action="#" [formGroup]="formPlayer" class="flex flex-col space-y-4">
    <div class="flex flex-col space-y-2">
      <div class="grid grid-cols-3 items-center">
        <label for="name" class="text-inline">Name</label>
        <input
          name="name"
          type="text"
          class="input-default col-span-2"
          placeholder="Name"
          formControlName="name"
          [class.input-invalid]="isInputInvalid('name')"
        />
      </div>
      <div class="grid grid-cols-3 items-center">
        <label for="mmr" class="text-inline">MMR</label>
        <input
          name="mmr"
          type="text"
          class="input-default col-span-2"
          placeholder="MMR"
          formControlName="mmr"
          [class.input-invalid]="isInputInvalid('mmr')"
        />
      </div>
    </div>
    <div class="flex flex-row justify-end items-center space-x-2">
      <!-- <app-button-standard
        *ngIf="unlock"
        [disabledBtn]="formPlayer.invalid"
        optionBtn="unlock"
        colorBtn="gray"
        (click)="unlockPlayer(false)"
        >Lock</app-button-standard
      >
      <app-button-standard
        *ngIf="!unlock"
        [disabledBtn]="formPlayer.invalid"
        optionBtn="lock"
        colorBtn="gray"
        (click)="unlockPlayer(true)"
        >Unlock</app-button-standard
      > -->
      <app-button-standard
        [disabledBtn]="formPlayer.invalid"
        optionBtn="add"
        colorBtn="sky"
        (click)="addPlayer()"
        >Add</app-button-standard
      >
    </div>
  </form>
</main>
